<launch>
    <!-- user input -->
    <arg name="use_sim_time" default="false"/>
    <arg name="pcd_name" default="/home/saurab/Desktop/tf_livox_bag/data/cloudcompare/output_v3.pcd"/>

    <!-- setup and run -->
    <param name="/use_sim_time" value="$(arg use_sim_time)"/>
    <!-- <node name="extract_sensors" pkg="tf_calib" type="extract_sensors" output="screen" required="true" launch-prefix="gdb -ex run -'-args"> -->
    <node name="extract_sensors" pkg="tf_calib" type="extract_sensors" output="screen" required="true">
        <param name="pcd_name" value="$(arg pcd_name)"/>
        <param name="in_csv_name" value="$(find tf_calib)/launch/sensor_tf.csv"/>
        <param name="out_csv_name" value="$(find tf_calib)/launch/sensor_tf_relative.csv"/>
    </node>

</launch>
